.display-experience-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.1fr;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.display-position {
  font-weight: bold;
}

.btns-container {
  display: flex;
}

.modify-btns,
.modify-icons {
  width: 20px;
  height: 20px;
}

.modify-btns {
  border: none;
  border-radius: 0px;
  background-color: #fafaff;
  padding: 0;
  margin: 0;
}

.edit-btn {
  margin-right: 5px;
}
