html,
body,
#root,
iframe {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  color: #1c1c1c;
  background-color: #eef0f2;
}

header,
footer {
  background-color: #1c1c1c;
  color: #eef0f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

footer {
  padding-top: 5px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 5px 0;
}

h2 {
  text-align: center;
}

h4 {
  padding-bottom: 5px;
}

#github-icon {
  width: 25px;
  height: 25px;
  padding-left: 1rem;
}

.mainDisplay {
  flex-grow: 1;
  background-color: #eef0f2;
  margin: 0px 5px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.previewOfCV {
  background-color: #fafaff;
  border: 1px solid #daddd8;
  margin-top: 5px;
  padding: 0px 5px;
  box-shadow: 5px 5px 10px #1c1c1c;
}

.inputFields {
  margin: 0px 5px;
}

.form-field {
  display: grid;
  margin: 5px 0px;
  grid-template-columns: 0.5fr 2fr;
  row-gap: 10px;
  align-items: center;
}

label {
  font-weight: bold;
}

#about-me-label {
  align-self: baseline;
}

.end-date-field {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: auto;
  row-gap: 0;
}

.end-date-instructions {
  grid-column: 2 / 3;
  color: #e07471;
  font-weight: bold;
  padding-bottom: 2px;
}

button {
  display: block;
  color: #483d3f;
  color: #417b5a;
  background-color: #ecebe4;
  border: 1px solid #daddd8;
  margin: 5px auto;
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  background-color: #daddd8;
}

button:active {
  background-color: #b6b8b4;
}

#contact-form-container,
#experience-container {
  margin-bottom: 10px;
}

input,
textarea {
  background-color: #fafaff;
  border: 1px solid #daddd8;
}

input {
  height: 24px;
}

.asterik {
  color: #e07471;
  font-weight: bold;
  padding-left: 1px;
}
