header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h4 {
  margin: 0;
  padding: 0;
}

#github-icon {
  width: 25px;
  height: 25px;
  padding-left: 1rem;
}

.mainDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.previewOfCV {
  border: 1px solid black;
}
